:root {
    /* Variables */

    /* Color Scheme */
    --site-color1: #1F0326;
    --site-color2: #63268C;
    --site-color2-hover: rgba(99, 38, 140, .4);
    --site-color3: #6732D9;
    --site-color4: #3321A6;
    --site-color5: #131159;
    --site-color6: #21023D;
    --site-white: #fff;
    --cards-yellow: #f0db4f; 
    --cards-green: #00b83a;
    --cards-gray: #4e4e4e;

    /* Helpers */
    --default-fontsize: 1.6rem;
}

/* Normalization */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
}

body {
    background-color: var(--site-color1);
    color: var(--site-white);
    font-size: var(--default-fontsize);
    line-height: 2.4rem;
}

.header, .main, .footer {
    width: 100vw;
    padding: 0 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    margin: 6px 0 10px;
}

h1 { font-size: 3.2rem; line-height: 3.4rem;}
h2 { font-size: 2.8rem; line-height: 3rem }
h3 { font-size: 2.4rem; line-height: 2.6rem }
h4 { font-size: 2.2rem; line-height: 2.4rem }
h5 { font-size: 2rem; line-height: 2.2rem }
h6 { font-size: 1.8rem; line-height: 2rem }

a {
    text-decoration: none;
    font-weight: 600;
    color: var(--site-color3);
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
    color: var(--site-color2);
}

button {
    background-color: var(--site-color2);
    border: 1px solid transparent;
    color: var(--site-white);
    font-weight: 600;
    padding: 8px;
    border-radius: 25px;
}

button:hover {
    border: 1px solid var(--site-white);
}

button:active {
    border: 1px solid transparent;
    outline: 1px solid var(--site-white);
}

.card {
    border: 2px solid var(--site-color2);
    line-height: 2.6rem;
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
}

/* Body */

.header {
    height: 56px;
    padding-top: 8px;
    padding-bottom: 8px;
    position: fixed;
    top: 0;
}

.header__title {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.header__title__card {
    font-size: 2.4rem;
    line-height: 2.8rem;
    border: none;
    background-color: var(--cards-green);
    margin: 0 2px;
    padding: 5px 8px;
    text-align: center;
    text-shadow: 1px 0 1.5px #333;
    user-select: none;
    box-shadow: -1px 1.5px 2px var(--site-color4);
}

.header__title__card:last-child, .header__title__card:nth-last-child(2){
    background-color: var(--cards-yellow);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 88px);
    margin-top: 56px;
}

.hero {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.hero__nav {
    width: 100%;
    display: flex;
    justify-content:space-around;
    padding: 0 5px;
}

.hero__nav__options {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.hero__nav__options .hero__nav__button:last-child{
    margin-left: 8px;
}

.hero__nav__button {
    height: 32px;
    width: 32px;
    text-align: center;
    background-color: var(--site-color3);
    padding: 5px;
    border-radius: 5px;
    font-size: 1.8rem;
    line-height: 2rem;
    cursor: pointer;
}

.hero__nav__button:active {
    background-color: var(--site-color4);
    box-shadow: 0 0 3px #aaa;
}

.hero__nav__button i {
    padding-top: 2px;
}

.hero__display {    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
}

.hero__display__row {
    width: 100%;
    height: calc(270px / 6);
    display: flex;
    justify-content: center;
    margin: 2px 0;
}

.hero__display__row.short {
    width: 75%;
}

.display__card {
    text-transform: uppercase;
    font-size: 2.4rem;
    padding: 10px;
    flex: 1 1;
    height: 100%;
    margin: 0 2px;
    background-color: var(--site-color6);
    text-shadow: 1px 1px 2px var(--site-color6);
}

.keyboard {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    margin-top: 15px;
}

.keyboard__row {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 2px;
}

.keyboard__card {
    cursor: pointer;
    font-size: 1.8rem;
    padding: 6px;
    border-radius: 8px;
    flex: 1 1;
    user-select: none;
}

.keyboard__card:hover {
    background-color: var(--site-color2-hover);
}

.keyboard__card:active {
    background-color: transparent;
    border: 2px solid var(--site-color2-hover);
}

.keyboard__card i {
    font-size: 2rem;
}

.card--green{
    background-color: var(--cards-green);
}

.card--gray{
    background-color: var(--cards-gray);
}

.card--yellow{
    background-color: var(--cards-yellow);
}

.footer {
    position: fixed;
    bottom: 0;
    height: 32px;
}

.footer__text {
    font-size: 1.2rem;
    text-align: center;
    height: 100%;
}

.footer__text .strong {
    font-weight: 900;
}

.modal {
    width: 100%;
    height: max-content;
    position: absolute;
    top: 56px;
    left: 0;
    z-index: 100;
    padding: 56px 15px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: max-content;
    row-gap: 5px;
    background-color: var(--site-color5);
    text-shadow: 1px 1px 1px var(--site-color6);
    border-radius: 15px;
}

.modal--close {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    font-size: 2.8rem;
    line-height: 3rem;
    padding-top: 2px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.modal--close:active {
    color: var(--cards-gray);
}

.modal__title {
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
    grid-column: 1 / 3;
}

.modal__title > h3 {
    margin-bottom: 0;
    text-shadow: 1px 1px 3px var(--site-color6);
}

.modal__label {
    padding-top: 6px;
    padding-left: 15px;
    font-size: 2rem;
}

.modal__action {
    text-align: right;
}

.modal__action__btn {
    margin: 0 2px 2px;
    background-color: var(--cards-gray);
    box-shadow: 1px 1px 3px var(--site-color6);
}

.modal__info {
    padding: 24px 15px;
}

.modal__info__content {
    grid-column: 1 / 3;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.3rem;
    line-height: 2rem;
}

.modal__info__content .card {
    text-transform: uppercase;
    margin: 0 5px;
    border: none;
}

.modal__info__content span {
    font-weight: 600;
    text-decoration: underline;
}

.modal__info__content span i {
    color: var(--site-color3);
    text-shadow: 1px 1px 1.5px #999;
    margin-right: 3px;
}

.modal__info__content--example, .modal__info__content--explanation {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.modal__info__content--example .card {
    width: 36px;
    height: 36px;
    font-size: 2.4rem;
    padding: 6px;
}

.modal__info__content p {
    width: 100%;
}

.modal__info__content--explanation div:not(.card) {
    padding-top: 6px;
}

.modal__info__content--explanation .card {
    width: 30px;
    height: 30px;
    font-size: 2.2rem;
    padding: 4px;
}

/* Element modificators for JS actions */

.hidden {
    display: none;
}

.blurry {
    opacity: .2;
}



@media screen and (min-width: 480px) {
    .hero {
        width: 380px;
    }

    .hero__display__row {
        height: calc(300px / 6);
    }

}

@media screen and (min-width: 600px) {
    .main {
        width: 600px;
        margin: 56px auto 0;
    }

    .modal {
        width: 550px;
        left: calc(calc(100% - 550px) / 2);
    }

    .modal__action__btn {
        margin: 0 2px;
    }

    .keyboard {
        width: 550px;
    }

    .modal__info__content {
        font-size: var(--default-fontsize)
    }
}

@media screen and (min-width: 800px) {
    .main {
        width: 800px;
    }    
}